In [1]:
from selenium import webdriver
import pandas as pd
import urllib.request

In [2]:
IPCA_URL = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.4449/dados?formato=csv&dataInicial=01/01/2010&dataFinal=31/12/2016'

In [3]:
urllib.request.urlretrieve(IPCA_URL, 'IPCA.csv')

('IPCA.csv', <http.client.HTTPMessage at 0x279d84eb430>)

In [4]:
IPCA = pd.read_csv(r'IPCA.csv', sep=';')

In [5]:
IPCA

          data  valor
0   01/01/2010   0,83
1   01/02/2010   0,42
2   01/03/2010  -0,14
3   01/04/2010   0,14
4   01/05/2010   0,33
..         ...    ...
79  01/08/2016   0,26
80  01/09/2016   0,37
81  01/10/2016   0,54
82  01/11/2016   0,22
83  01/12/2016  -0,01

[84 rows x 2 columns]